@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

body {
  position: relative;
  z-index: -3;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--Pale-blue);
  z-index: -2;
  .img-layout {
    position: absolute;
    left: 0;
    top: -125px;
    z-index: -1;
  }
  .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 550px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    z-index: 1;

    img {
      width: 100%;
      height: 180px;
    }
    .content {
      padding: 30px;
      .text {
        h3 {
          margin-bottom: 10px;
          font-weight: 900;
        }
        p {
          letter-spacing: -0.1px;
          color: var(--Desaturated-blue);
          font-size: 16px;
          font-weight: 500;
        }
      }
      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
        background-color: var(--Very-pale-blue);
        padding: 15px;
        border-radius: 15px;
        & > div {
          display: flex;
          gap: 15px;
          align-items: center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .info {
            display: flex;
            flex-direction: column;

            p {
              font-size: 16px;
              font-weight: 900;
            }
            .price {
              color: var(--Desaturated-blue);
              font-weight: 500;
            }
          }
        }
        a {
          transition: 0.3s;
          &:hover {
            cursor: pointer;
            text-decoration: none;
            color: hsl(245, 75%, 65%);
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
        button {
          background-color: var(--Bright-blue);
          padding: 15px;
          width: 100%;
          color: white;
          border: none;
          border-radius: 15px;
          box-shadow: 0px 15px 25px hsl(245deg 75% 52% / 42%);
          transition: 0.3s;
          &:hover {
            background-color: hsl(245, 75%, 65%);
            cursor: pointer;
          }
        }
        a {
          text-decoration: none;
          color: var(--Desaturated-blue);
          font-weight: 700;
          transition: 0.3s;
          &:hover {
            color: var(--Dark-blue);
            cursor: pointer;
          }
        }
      }
    }
  }
}
